<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylb.css') }}">

<style>
.login{
top: 20%;
}
</style>
</head>

<body>
 <div class="login">
	<h1>Concrete Compressive Strength Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">

    	<input type="number" name="Cement (component 1)(kg in a m^3 mixture)" placeholder="Cement (component 1)(kg in a m^3 mixture)" required="required" />
        <input type="number" name="Blast Furnace Slag (component 2)(kg in a m^3 mixture)" placeholder="Blast Furnace Slag (component 2)(kg in a m^3 mixture)" required="required" />
		<input type="number" name="Fly Ash (component 3)(kg in a m^3 mixture)" placeholder="Fly Ash (component 3)(kg in a m^3 mixture)" required="required" />
		<input type="number" name="Water  (component 4)(kg in a m^3 mixture)" placeholder="Water  (component 4)(kg in a m^3 mixture)" required="required" />
                <input type="number" name="Superplasticizer (component 5)(kg in a m^3 mixture)" placeholder="Superplasticizer (component 5)(kg in a m^3 mixture)" required="required" />
                <input type="number" name="Coarse Aggregate  (component 6)(kg in a m^3 mixture)" placeholder="Coarse Aggregate  (component 6)(kg in a m^3 mixture)" required="required" />
                <input type="number" name="Fine Aggregate (component 7)(kg in a m^3 mixture)" placeholder="Fine Aggregate (component 7)(kg in a m^3 mixture)" required="required" />
                <input type="number" name="Age (day)" placeholder="Age (day)" required="required" />
                
		</select>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>


</body>
</html>

